.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  position: absolute;
  width: 410px;
  height: 151px;
  left: 0px;
  top: 0px;
}

.bodyOutline {
  position: absolute;
  width: 267px;
  height: 546px;
  left: 379px;
  top: 43px;
}

.symptomDisplayer {
  position: absolute;
  width: 1100px;
  height: 151px;
  left: 410px;
  top: 0px;

  background: #bdfacb;
}

.Main {
  position: absolute;
  width: 1100px;
  height: 750px;
  left: 410px;
  right: 0px;
  top: 151px;
  bottom: 0px;
  background: #c1d7f8;
}

.Sidebar {
  position: absolute;
  width: 410px;
  height: 750px;
  left: 0px;
  right: 150px;
  top: 151px;
  background: url(Images/sidebar-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.HeadTarget {
  position: absolute;
  left: 450px;
  top: 35px;
}

.PelvisTarget {
  position: absolute;
  left: 450px;
  top: 280px;
}

.ChestTarget {
  position: absolute;
  left: 465px;
  top: 115px;
}

.StomachTarget {
  position: absolute;
  left: 465px;
  top: 205px;
}

.LegsTarget {
  position: absolute;
  left: 414px;
  top: 480px;
}

.ArmsTarget {
  position: absolute;
  left: 570px;
  top: 280px;
}

.IssueDisplayer {
  position: absolute;
  left: 75px;
  top: 45px;
}

.ListItem {
  position: absolute;
}

.Icon {
  width: 100;
  height: 100;
}

.GeneralTarget {
  position: absolute;
  left: 420px;
  top: 5px;
}
